In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([[1,2], [3,4]], columns=["col1", "col2"])
df

   col1  col2
0     1     2
1     3     4

## use loc

In [3]:
## specify the index name and a list of values
df.loc[2] = [5,6]
df

   col1  col2
0     1     2
1     3     4
2     5     6

In [4]:
# continue index when index is a zero indexed count
df.loc[len(df)] = [7,8]
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8

In [5]:
## what if want to use a random index, will this work?
df.loc['test_index'] = [9,9]
df

            col1  col2
0              1     2
1              3     4
2              5     6
3              7     8
test_index     9     9

In [6]:
df.drop(['test_index'], inplace=True)
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8

## Append

In [7]:
## can use loc easily to pass a list, but can use append easily to combine two dfs
df2 = pd.DataFrame([[11,22], [33,44]], columns=["col1", "col2"])
df = df.append(df2)
df

   col1  col2
0     1     2
1     3     4
2     5     6
3     7     8
0    11    22
1    33    44

In [8]:
## columns must match or will lead to NaNs
df2 = pd.DataFrame([[1,2,3], [4,5,6]], columns=["col1", "col2", "col3"])
df.append(df2)

   col1  col2  col3
0     1     2   NaN
1     3     4   NaN
2     5     6   NaN
3     7     8   NaN
0    11    22   NaN
1    33    44   NaN
0     1     2   3.0
1     4     5   6.0

## Concat

In [9]:
df = pd.DataFrame([[1,2], [3,4]], columns=["col1", "col2"])
df

   col1  col2
0     1     2
1     3     4

In [10]:
df2 = pd.DataFrame([[11,22], [33,44]], columns=["col1", "col2"])
df2

   col1  col2
0    11    22
1    33    44

In [11]:
df = pd.concat([df, df2])
df

   col1  col2
0     1     2
1     3     4
0    11    22
1    33    44

In [12]:
df3 = pd.DataFrame([[111,222], [333,444]], columns=["col3", "col4"])

In [13]:
pd.concat([df, df3])

   col1  col2   col3   col4
0   1.0   2.0    NaN    NaN
1   3.0   4.0    NaN    NaN
0  11.0  22.0    NaN    NaN
1  33.0  44.0    NaN    NaN
0   NaN   NaN  111.0  222.0
1   NaN   NaN  333.0  444.0

In [14]:
## youll notice the index is now not unique, suppose we want to reset the index from 0
df.reset_index(drop=True)

   col1  col2
0     1     2
1     3     4
2    11    22
3    33    44