In [31]:
import pandas as pd

In [32]:
df = pd.DataFrame([[4,5,'a','c'],[7,9,'b','d']], columns=["num_1", "num_2", "let_1", "let_2"])

In [33]:
df

   num_1  num_2 let_1 let_2
0      4      5     a     c
1      7      9     b     d

In [34]:
df.num_1 + df['num_2']

0     9
1    16
dtype: int64

In [35]:
df

   num_1  num_2 let_1 let_2
0      4      5     a     c
1      7      9     b     d

In [36]:
## it didnt overwrite

## what if want to make that its own column?

In [37]:
df["num1+num2"] = df.num_1 + df['num_2']

In [38]:
df

   num_1  num_2 let_1 let_2  num1+num2
0      4      5     a     c          9
1      7      9     b     d         16

In [39]:
df["num1-num2"] = df.num_1 - df['num_2']
df["num1*num2"] = df.num_1 * df['num_2']
df["num1/num2"] = df.num_1 / df['num_2']

In [40]:
df

   num_1  num_2 let_1 let_2  num1+num2  num1-num2  num1*num2  num1/num2
0      4      5     a     c          9         -1         20   0.800000
1      7      9     b     d         16         -2         63   0.777778

## what happens if i do this again?

In [41]:
df["num1/num2"] = df.num_1 / df['num_2']
## it will overwrite the column

In [42]:
df

   num_1  num_2 let_1 let_2  num1+num2  num1-num2  num1*num2  num1/num2
0      4      5     a     c          9         -1         20   0.800000
1      7      9     b     d         16         -2         63   0.777778

## what about numbers and strings

In [43]:
df.num_1 + df.let_1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

## What about strings and strings?

In [44]:
df['let1+let2'] = df.let_1 + df.let_2

In [45]:
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2
0,4,5,a,c,9,-1,20,0.800000,ac
1,7,9,b,d,16,-2,63,0.777778,bd

In [46]:
df['let1 --- let2'] = df.let_1 + " --- " + df.let_2

In [47]:
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2,let1 --- let2
0,4,5,a,c,9,-1,20,0.800000,ac,a --- c
1,7,9,b,d,16,-2,63,0.777778,bd,b --- d

In [ ]:
so what we can do is create another column by using bracket notation 
and were gonna grab two existing columns that we intend to concatenate together, let1 and let2
but in between here im gonna add in a few dashes
pandas knows that when adding two columns together, if i add additional text, that text should show up in each row
and here you can see in the outputted dataframe that that is the case

In [26]:
df['let1+let2+let2'] = df['let1+let2'] + df.let_2

In [27]:
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2,let1+let2+let2
0,4,5,a,c,9,-1,20,0.800000,a --- c,a --- cc
1,7,9,b,d,16,-2,63,0.777778,b --- d,b --- dd

## add column with list

In [28]:
df["new_col"] = ['a', 1]

In [29]:
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2,let1+let2+let2,new_col
0,4,5,a,c,9,-1,20,0.800000,a --- c,a --- cc,a
1,7,9,b,d,16,-2,63,0.777778,b --- d,b --- dd,1

In [30]:
df.dtypes

num_1               int64
num_2               int64
let_1              object
let_2              object
num1+num2           int64
num1-num2           int64
num1*num2           int64
num1/num2         float64
let1+let2          object
let1+let2+let2     object
new_col            object
dtype: object

In [11]:
df

   num_1  num_2 let_a let_b new_row
0      1      2     a     c       a
1      3      4     b     d       1

In [42]:
df.loc[4] = [1,2,3,4,7]

In [43]:
df

   num_1  num_2 let_a let_b new_row
0    1.0    2.0     a     c       a
1    3.0    4.0     b     d       1
2    1.0    2.0     3     4       7
3    1.0    2.0     3     4       7
4    1.0    2.0     3     4       7

In [ ]:
one thing to keep in mind is you cant use dot notation on columns with spaces or some special characters
take for example column let1+let2

In [ ]:
the final thing I want to show you is how to add a list as a column. this again, is super easy. 
ill create a new column called last_col and set that to a list with two elements, being my dataframe is only
2 rows long.
and its that simple. 
now you know how to manipulate columns in pandas. thanks for watching.