In [1]:
import pandas as pd

## Making a Dataset

In [2]:
df = pd.DataFrame([[4,5,'a','c'],[7,9,'b','d']], columns=["num_1", "num_2", "let_1", "let_2"])
df

   num_1  num_2 let_1 let_2
0      4      5     a     c
1      7      9     b     d

## Add columns

In [3]:
df["num1+num2"] = df.num_1 + df['num_2']
df

   num_1  num_2 let_1 let_2  num1+num2
0      4      5     a     c          9
1      7      9     b     d         16

In [4]:
df["num1-num2"] = df.num_1 - df['num_2']
df["num1*num2"] = df.num_1 * df['num_2']
df["num1/num2"] = df.num_1 / df['num_2']
df

   num_1  num_2 let_1 let_2  num1+num2  num1-num2  num1*num2  num1/num2
0      4      5     a     c          9         -1         20   0.800000
1      7      9     b     d         16         -2         63   0.777778

## Adding strings

In [5]:
df['let1+let2'] = df.let_1 + df.let_2
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2
0,4,5,a,c,9,-1,20,0.800000,ac
1,7,9,b,d,16,-2,63,0.777778,bd

## Add column with python list

In [6]:
df["new_col"] = ['a', 1]
df

,num_1,num_2,let_1,let_2,num1+num2,num1-num2,num1*num2,num1/num2,let1+let2,new_col
0,4,5,a,c,9,-1,20,0.800000,ac,a
1,7,9,b,d,16,-2,63,0.777778,bd,1