In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([['a',1],['b',2]], columns=['id','value1'])
df2 = pd.DataFrame([['a',3],['d',4]], columns=['id','value2'])

## Original DFs

In [3]:
df1

  id  value1
0  a       1
1  b       2

In [4]:
df2

  id  value2
0  a       3
1  d       4

## Left Join

In [5]:
## Keep only rows whose index appears in df1
df1.set_index("id").join(df2.set_index('id'), how='left')

    value1  value2
id
a        1     3.0
b        2     NaN

## Right Join

In [6]:
## Keep only rows whose index appears in df2
df1.set_index("id").join(df2.set_index('id'), how='right')

    value1  value2
id
a      1.0       3
d      NaN       4

## Inner Join

In [7]:
## Keep only rows whose index appears in both df1 and df2
df1.set_index("id").join(df2.set_index('id'), how='inner')

    value1  value2
id
a        1       3

## Outer Join

In [8]:
## Keep all rows even if no matching index in other joining dataframe
df1.set_index("id").join(df2.set_index('id'), how='outer')

    value1  value2
id
a      1.0     3.0
b      2.0     NaN
d      NaN     4.0