In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../data/titanic_test.csv")

In [3]:
df.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
df.loc[0,'PassengerId']

892

In [7]:
df.set_index("Name", inplace=True)

In [14]:
df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Kelly, Mr. James",892,3,male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,3,female,47.0,1,0,363272,7.0000,NaN,S
"Myles, Mr. Thomas Francis",894,2,male,62.0,0,0,240276,9.6875,NaN,Q
"Wirz, Mr. Albert",895,3,male,27.0,0,0,315154,8.6625,NaN,S
"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",896,3,female,22.0,1,1,3101298,12.2875,NaN,S

In [12]:
df.loc[0,'PassengerId']

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [0] of <type 'int'>

In [10]:
df.loc['Kelly, Mr. James', 'PassengerId']

892

In [ ]:
## suppose dont want to write out a long index name, can use integers

In [8]:
df.iloc[0, 0]

892

In [15]:
df.iloc[1,0]

893

## Multiple Cols and Rows

In [30]:
df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"Kelly, Mr. James",892,3,male,34.5,0,0,330911,7.8292,NaN,Q
"Wilkes, Mrs. James (Ellen Needs)",893,3,female,47.0,1,0,363272,7.0000,NaN,S
"Myles, Mr. Thomas Francis",894,2,male,62.0,0,0,240276,9.6875,NaN,Q
"Wirz, Mr. Albert",895,3,male,27.0,0,0,315154,8.6625,NaN,S
"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",896,3,female,22.0,1,1,3101298,12.2875,NaN,S

In [31]:
df.iloc[0:3,0:2]

                                  PassengerId  Pclass
Name
Kelly, Mr. James                          892       3
Wilkes, Mrs. James (Ellen Needs)          893       3
Myles, Mr. Thomas Francis                 894       2

In [32]:
df.loc['Kelly, Mr. James':'Myles, Mr. Thomas Francis', 'PassengerId':'Pclass']

                                  PassengerId  Pclass
Name
Kelly, Mr. James                          892       3
Wilkes, Mrs. James (Ellen Needs)          893       3
Myles, Mr. Thomas Francis                 894       2

In [33]:
df[['PassengerId','Pclass']]

                                                    PassengerId  Pclass
Name
Kelly, Mr. James                                            892       3
Wilkes, Mrs. James (Ellen Needs)                            893       3
Myles, Mr. Thomas Francis                                   894       2
Wirz, Mr. Albert                                            895       3
Hirvonen, Mrs. Alexander (Helga E Lindqvist)                896       3
Svensson, Mr. Johan Cervin                                  897       3
Connolly, Miss. Kate                                        898       3
Caldwell, Mr. Albert Francis                                899       2
Abrahim, Mrs. Joseph (Sophie Halaut Easu)                   900       3
Davies, Mr. John Samuel                                     901       3
Ilieff, Mr. Ylio                                            902       3
Jones, Mr. Charles Cresson                                  903       1
Snyder, Mrs. John Pillsbury (Nelle Stevenson)               904       1
Howard, Mr. Benjamin                                        905       2
Chaffee, Mrs. Herbert Fuller (Carrie Constance ...          906       1
del Carlo, Mrs. Sebastiano (Argenia Genovesi)               907       2
Keane, Mr. Daniel                                           908       2
Assaf, Mr. Gerios                                           909       3
Ilmakangas, Miss. Ida Livija                                910       3
Assaf Khalil, Mrs. Mariana (Miriam")"                       911       3
Rothschild, Mr. Martin                                      912       1
Olsen, Master. Artur Karl                                   913       3
Flegenheim, Mrs. Alfred (Antoinette)                        914       1
Williams, Mr. Richard Norris II                             915       1
Ryerson, Mrs. Arthur Larned (Emily Maria Borie)             916       1
Robins, Mr. Alexander A                                     917       3
Ostby, Miss. Helene Ragnhild                                918       1
Daher, Mr. Shedid                                           919       3
Brady, Mr. John Bertram                                     920       1
Samaan, Mr. Elias                                           921       3
...                                                         ...     ...
Canavan, Mr. Patrick                                       1280       3
Palsson, Master. Paul Folke                                1281       3
Payne, Mr. Vivian Ponsonby                                 1282       1
Lines, Mrs. Ernest H (Elizabeth Lindsey James)             1283       1
Abbott, Master. Eugene Joseph                              1284       3
Gilbert, Mr. William                                       1285       2
Kink-Heilmann, Mr. Anton                                   1286       3
Smith, Mrs. Lucien Philip (Mary Eloise Hughes)             1287       1
Colbert, Mr. Patrick                                       1288       3
Frolicher-Stehli, Mrs. Maxmillian (Margaretha E...         1289       1
Larsson-Rondberg, Mr. Edvard A                             1290       3
Conlon, Mr. Thomas Henry                                   1291       3
Bonnell, Miss. Caroline                                    1292       1
Gale, Mr. Harry                                            1293       2
Gibson, Miss. Dorothy Winifred                             1294       1
Carrau, Mr. Jose Pedro                                     1295       1
Frauenthal, Mr. Isaac Gerald                               1296       1
Nourney, Mr. Alfred (Baron von Drachstedt")"               1297       2
Ware, Mr. William Jeffery                                  1298       2
Widener, Mr. George Dunton                                 1299       1
Riordan, Miss. Johanna Hannah""                            1300       3
Peacock, Miss. Treasteall                                  1301       3
Naughton, Miss. Hannah                                     1302       3
Minahan, Mrs. William Edward (Lillian E Thorpe)            1303       1
Henriksson, Miss. Jenny Lovisa                             1304       3
Spector, Mr. Woolf                                         1305       3
Oliva y Ocana, Dona. Fermina                               1306       1
Saether, Mr. Simon Sivertsen                               1307       3
Ware, Mr. Frederick                                        1308       3
Peter, Master. Michael J                                   1309       3

[418 rows x 2 columns]

## retrieve value on a filter

In [27]:
df[df.Ticket=='SC/PARIS 2167']

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,
"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",907,2,female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C

In [25]:
df[(df.Pclass==2) & (df.Ticket=='SC/PARIS 2167')].reset_index().loc[0,"Age"]

24.0

In [28]:
df[(df.Pclass==2) & (df.Ticket=='SC/PARIS 2167')].reset_index()

,Name,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",907,2,female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C